#myTabContent {
  border-color: aqua;
  border-style: solid;
}

hr {
  display: inline-block;
  width: 50%;
  height: 6px;
  margin: auto;
}
.card,
.list-group-item {
  background-color: #193239;
  color: rgb(194, 194, 194);
}
