<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button type="button" class="btn btn-dark">
    <a
      href="https://drive.google.com/file/d/11evVaeHM4_3IT2O-HksvXhGI83QX4Rd4/view?usp=drive_link"
      >Resume <i class="fa fa-arrow-circle-o-down"></i
    ></a>
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item active">
        <button class="nav-link btn btn-dark ml-auto" (click)="scroll('home')">
          About
        </button>
      </li>
      <li class="nav-item active">
        <button class="nav-link btn btn-dark ml-auto">Experience</button>
      </li>
      <li class="nav-item active">
        <button class="nav-link btn btn-dark ml-auto">Skills</button>
      </li>
      <li class="nav-item active">
        <button class="nav-link btn btn-dark ml-auto">Projects</button>
      </li>
    </ul>
  </div>
</nav>
