/* .footer {
  position: absolute;
  bottom: 0;
} */
.list-group-item {
  background-color: unset;
}
.list-group-item:hover {
  transform: scale(1.5);
}
li {
  display: block;
}
a {
  all: unset;
}
