<div class="container">
  <div class="row justify-content-start">
    <div class="col-1">
      <span class="badge badge-pill badge-info">Angular 2+</span>
      <span class="badge badge-pill badge-info">HTML</span>
      <span class="badge badge-pill badge-info">CSS</span>
      <span class="badge badge-pill badge-info">SCSS</span>
    </div>
    <div class="col-1">
      <span class="badge badge-pill badge-info">JavaScript</span>
      <span class="badge badge-pill badge-info">TypeScript</span>
      <span class="badge badge-pill badge-info">BitBucket</span>
      <span class="badge badge-pill badge-info">FIGMA</span>
    </div>
    <div class="col-1">
      <span class="badge badge-pill badge-info">ABSTRACT</span>
      <span class="badge badge-pill badge-info">JIRA</span>
      <span class="badge badge-pill badge-info">Confluence</span>
    </div>
  </div>
</div>
