<div class="container">
  <img src="assets/xyz.jpg" style="border-radius: 50%" />
  <h5>
    Hello! I am
    <span class="name" *ngFor="let name of name; index as in">
      <span style="--i:{{ in + 1 }}">{{ name }}</span>
    </span>
  </h5>

  <p>
    Passionate Angular developer with <span>2 years of experience</span> in
    crafting user interfaces that leave a lasting impression. With a strong
    focus on code quality and attention to detail, I specialize in building
    scalable and performant web applications using Angular framework.
    <a>Key Skills <i class="fa fa-key"></i></a>
  </p>
</div>
