/* .name span {
  position: relative;
  display: inline-block;
  animation: flip 4s infinite;
  animation-delay: calc(0.1s * var(--i));
} */
.name {
  font-weight: 500;
  font-size: 80px;
  background: linear-gradient(
    120deg,
    #a5f5ff,
    #7e57c2,
    #0087f2,
    #26c6da,
    #eeff41,
    #f6a5ff,
    #a5f5ff
  );
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
a {
  all: unset;
}
hr {
  display: inline-block;
  width: 50%;
  height: 6px;
  margin: auto;
}
